[user]
        email = douglas.orr99@gmail.com
        name = Douglas Orr
[core]
        editor = emacs
[merge]
        conflictstyle = diff3
[push]
        default = simple
[alias]
        s = status -sb
        l = log --oneline --decorate
        tree = log --graph --oneline --all --decorate
        head = log -1 --pretty=format:"%h"
        unpushed = log --oneline --decorate --branches --not --remotes
        untracked = ls-files . --exclude-standard --others
        ignored = ls-files . --ignored --exclude-standard --others
